body {
  background-color: hsl(210, 32%, 93%);
}

.team-roster {
  padding: 15px;
  border-radius: 25px;
  margin-left: 220px;
  margin-top: 80px;
  margin-bottom: 25px;
  background-color: #fff;
  width: 55%;
  box-shadow: inset 0 1px 0 hsl(224, 84%, 74%);
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

.user-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid hsl(210, 23%, 95%);
  background-color: #fff;
}

.user-container:last-child {
  border-bottom: none;
}

.user-attributes-container {
  display: flex;
  margin-left: 45px;
  width: 40%;
}

.user-activity-container {
  margin-right: 120px;
}

.profile-img {
  height: 80px;
  width: 80px;
  border-radius: 100px;
  margin-right: 15px;
  margin-top: 12px;
}

.user-attributes-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.user-headline-wrapper {
  margin-bottom: 6px;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
}

.user-role {
  font-size: 18px;
  font-weight: 300;
  color: hsl(261, 47%, 58%);
  margin-bottom: 3px;
}

.user-email {
  font-size: 14px;
  font-weight: 300;
}

.user-recent-activity {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.user-activity {
  color: hsl(261, 47%, 58%);
}

.user-activity-date {
  font-size: 14px;
  font-weight: 300;
}
